.nav-mid{
    margin-bottom: 30px;
}

#caixa{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.semItens{
    height: 561px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.limpar0{
    display: none;
}


.containerCart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.caixaBurger{
    box-shadow: 0 0 6px;
    width: 50%;
    height: 120px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.caixaBacon{
    box-shadow: 0 0 6px;
    width: 50%;
    height: 120px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cheeseburger{
    width: 20%;
    height: 13em;
    background-image: url('https://cache-backend-mcd.mcdonaldscupones.com/media/image/product$kRXV7tWV/200/200/original?country=br'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10em;
    margin-right: 30px;
}

.bacon{
    width: 24%;
    height: 12em;
    background-image: url('https://cache-backend-mcd.mcdonaldscupones.com/media/image/product$kzXjtUHf/200/200/original?country=br'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12em;
    margin-right: 30px;
}

.salad{
    width: 21%;
    height: 12em;
    background-image: url('https://cache-backend-mcd.mcdonaldscupones.com/media/image/product$kJX39JjK/200/200/original?country=br'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 11em;
    margin-right: 30px;
}

.chicken{
    width: 21%;
    height: 12em;
    background-image: url('https://cache-backend-mcd.mcdonaldscupones.com/media/image/product$kKXGzDAK/200/200/original?country=br'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 9em;
    margin-right: 30px;
}

.cheddar{
    width: 21%;
    height: 12em;
    background-image: url('https://cache-backend-mcd.mcdonaldscupones.com/media/image/product$kzXWKJ6A/200/200/original?country=br'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 9em;
    margin-right: 30px;
}

.everything{
    width: 21%;
    height: 12em;
    background-image: url('https://cache-backend-mcd.mcdonaldscupones.com/media/image/product$kJXXZSDC/200/200/original?country=br'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 9em;
    margin-right: 30px;
}

h1{
    margin-right: 18px;
}

button{
    width: 2em;
    height: 2em;
    cursor: pointer;
}

button:hover{
    background-color: #0099ff;
    border-radius: 2px;
    border: 1px solid black;
}

.preco{
    width: 5em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 14px;
}

.contar{
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sumirBurger{
    display: none;
}

.containerTotal{
    width: 300px;
    height: 210px;
    box-shadow: 0 0 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}

.containerTotal div{
    width: 100%;
}

.total{
    display: flex;
    justify-content: space-evenly;
}

.valorProduto{
    text-align: center;
}

.finalizarCompra{
    text-align: center;
}

.finalizarBotao{
    width: 90%;
    border-radius: 5px;
    background-color: #0099ff;
    border: 1px solid #000;
}

.finalizarBotao:hover{
    border-radius: 5px;
    border: 1px solid #000;
    background-color: #00ff00;
}