.nav-mid{
    margin-bottom: 30px;
}

#caixa{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.semItens{
    height: 561px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.limpar0{
    display: none;
}


.containerCart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.caixaBurger{
    box-shadow: 0 0 6px;
    width: 50em;
    height: 120px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}


.cheeseburger{
    width: 20%;
    height: 13em;
    background-image: url('https://cache-backend-mcd.mcdonaldscupones.com/media/image/product$kRXV7tWV/200/200/original?country=br'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8em;
    margin-right: 30px;
}

.bacon{
    width: 24%;
    height: 12em;
    background-image: url('https://cache-backend-mcd.mcdonaldscupones.com/media/image/product$kzXjtUHf/200/200/original?country=br'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10em;
    margin-right: 30px;
}

.salad{
    width: 21%;
    height: 12em;
    background-image: url('https://cache-backend-mcd.mcdonaldscupones.com/media/image/product$kJX39JjK/200/200/original?country=br'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10em;
    margin-right: 30px;
}

.chicken{
    width: 21%;
    height: 12em;
    background-image: url('https://cache-backend-mcd.mcdonaldscupones.com/media/image/product$kKXGzDAK/200/200/original?country=br'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8em;
    margin-right: 30px;
}

.cheddar{
    width: 21%;
    height: 12em;
    background-image: url('https://cache-backend-mcd.mcdonaldscupones.com/media/image/product$kzXWKJ6A/200/200/original?country=br'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 11em;
    margin-right: 30px;
}

.everything{
    width: 21%;
    height: 12em;
    background-image: url('https://cache-backend-mcd.mcdonaldscupones.com/media/image/product$kJXXZSDC/200/200/original?country=br'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 11em;
    margin-right: 30px;
}

.strawberry{
    width: 21%;
    height: 12em;
    background-image: url('https://static.expressodelivery.com.br/imagens/produtos/106113/180/Expresso-Delivery_0d51e0b279d6344055315a11e8fae7c7.png'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 7em;
}

.orange{
    width: 21%;
    height: 12em;
    background-image: url('https://thumb-cdn.soluall.net/prod/shp_products/sp1280fw/c65526b6-458d-4cb5-9550-6d6a4f098846/da1e9ff7-945d-487d-b91d-688bc1cb8a45.jpg'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 7em;
}

.pineapple{
    width: 21%;
    height: 12em;
    background-image: url('https://atm-accounts.s3-sa-east-1.amazonaws.com/54/files/thumbs/svorpceozu7ekv8n6atp-large.jpeg'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 7em;
}

.coca{
    width: 21%;
    height: 12em;
    background-image: url('https://loja.cestasurpresa.com/wp-content/uploads/91421_2.jpg'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 7em;
}

.guarana{
    width: 21%;
    height: 12em;
    background-image: url('https://m.media-amazon.com/images/I/71eC76jOlpL._AC_UF1000,1000_QL80_.jpg'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3.4em;
}

.fanta{
    width: 21%;
    height: 12em;
    background-image: url('https://www.drogariaminasbrasil.com.br/media/product/dc1/refrigerante-fanta-laranja-lata-350ml-6eb.jpg'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 7em;
}

.banana{
    width: 21%;
    height: 12em;
    background-image: url('https://media.istockphoto.com/id/89892107/pt/foto/banana-guarnecida.jpg?s=612x612&w=0&k=20&c=LFatzBYbH_Yxaov8FpufU6TwPfeVNFGiwoM4suUmXMM='); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 7em;
}

.cake{
    width: 21%;
    height: 12em;
    background-image: url('https://vivalivrealimentos.com.br/wp-content/uploads/2018/03/torta-confeitada-morango-com-chocolate.jpg'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 7em;
}

.milk{
    width: 21%;
    height: 12em;
    background-image: url('https://media.istockphoto.com/id/477812740/pt/foto/batido-de-leite-com-morango-com-morango-e-frutas-em-branco-pano-de-fundo.jpg?s=170667a&w=0&k=20&c=PPPeJhaRfWPc3DPtM1irPZKj3jk6yCV-0TEyxwGJVWQ='); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5em;
}

.mousse{
    width: 21%;
    height: 12em;
    background-image: url('https://receitasdepesos.com.br/wp-content/uploads/2022/11/16h-3.jpg'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8em;
}

.ice{
    width: 21%;
    height: 12em;
    background-image: url('https://media.istockphoto.com/id/931702864/pt/foto/chocolate-ice-cream-in-a-glass-bowl.jpg?s=612x612&w=0&k=20&c=Yl3vTOWHI0GuSxqkcN8ESaC-INTMqXRgpGMamCtTs0c='); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 6.5em;
}

.banoffee{
    width: 21%;
    height: 12em;
    background-image: url('https://media.istockphoto.com/id/1371122734/pt/foto/banana-coffee-pudding-with-caramelize-bananas-isolated-on-white-background-with-clipping-path.jpg?s=612x612&w=0&k=20&c=WL-hwL4AOoVI5M8U0VvWlWYdyUC23-2mo6Ie3wGFz_4='); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8em;
}

h1{
    margin-right: 18px;
}

button{
    width: 2em;
    height: 2em;
    cursor: pointer;
}

button:hover{
    background-color: #0099ff;
    border-radius: 2px;
    border: 1px solid black;
}

.preco{
    width: 5em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 14px;
}

.botoes{
    display: flex;
}

.contar{
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sumirBurger{
    display: none;
}

.containerTotal{
    width: 300px;
    height: 210px;
    box-shadow: 0 0 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}

.containerTotal div{
    width: 100%;
}

.total{
    display: flex;
    justify-content: space-evenly;
}

.valorProduto{
    text-align: center;
}

.finalizarCompra{
    text-align: center;
}

.finalizarBotao{
    width: 90%;
    border-radius: 5px;
    background-color: #0099ff;
    border: 1px solid #000;
}

.finalizarBotao:hover{
    border-radius: 5px;
    border: 1px solid #000;
    background-color: #00ff00;
}

@media only screen and (max-width: 623px) {
    
    .caixaBurger{
        box-shadow: 0 0 6px;
        width: 80%;
        height: 290px;
        border-radius: 60px;
        text-align: center;
    } 

    h1{
        margin: 0 auto;
    }

    .semItens{
        font-size: 18px;
    }

    .cheeseburger{
        width: 100%;
        height: 9em;
        background-image: url('https://cache-backend-mcd.mcdonaldscupones.com/media/image/product$kRXV7tWV/200/200/original?country=br'); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: 8em;
        margin: 0 auto;
    }
    
    .bacon{
        width: 60%;
        height: 12em;
        background-image: url('https://cache-backend-mcd.mcdonaldscupones.com/media/image/product$kzXjtUHf/200/200/original?country=br'); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: 10em;
        margin: 0 auto;
    }
    
    .salad{
        width: 60%;
        height: 12em;
        background-image: url('https://cache-backend-mcd.mcdonaldscupones.com/media/image/product$kJX39JjK/200/200/original?country=br'); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: 10em;
        margin: 0 auto;
    }
    
    .chicken{
        width: 60%;
        height: 12em;
        background-image: url('https://cache-backend-mcd.mcdonaldscupones.com/media/image/product$kKXGzDAK/200/200/original?country=br'); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: 8em;
        margin: 0 auto;
    }
    
    .cheddar{
        width: 60%;
        height: 12em;
        background-image: url('https://cache-backend-mcd.mcdonaldscupones.com/media/image/product$kzXWKJ6A/200/200/original?country=br'); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: 11em;
        margin: 0 auto;
    }
    
    .everything{
        width: 60%;
        height: 12em;
        background-image: url('https://cache-backend-mcd.mcdonaldscupones.com/media/image/product$kJXXZSDC/200/200/original?country=br'); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: 11em;
        margin: 0 auto;
    }

    .strawberry{
        width: 60%;
        height: 12em;
        background-image: url('https://static.expressodelivery.com.br/imagens/produtos/106113/180/Expresso-Delivery_0d51e0b279d6344055315a11e8fae7c7.png'); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: 7em;
        margin: 0 auto;
    }

    .orange{
        width: 60%;
        height: 12em;
        background-image: url('https://thumb-cdn.soluall.net/prod/shp_products/sp1280fw/c65526b6-458d-4cb5-9550-6d6a4f098846/da1e9ff7-945d-487d-b91d-688bc1cb8a45.jpg'); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: 7em;
        margin: 0 auto;
    }
    
    .pineapple{
        width: 60%;
        height: 12em;
        background-image: url('https://atm-accounts.s3-sa-east-1.amazonaws.com/54/files/thumbs/svorpceozu7ekv8n6atp-large.jpeg'); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: 7em;
        margin: 0 auto;
    }
    
    .coca{
        width: 60%;
        height: 12em;
        background-image: url('https://loja.cestasurpresa.com/wp-content/uploads/91421_2.jpg'); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: 7em;
        margin: 0 auto;
    }
    
    .guarana{
        width: 60%;
        height: 12em;
        background-image: url('https://m.media-amazon.com/images/I/71eC76jOlpL._AC_UF1000,1000_QL80_.jpg'); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: 3.4em;
        margin: 0 auto;
    }
    
    .fanta{
        width: 60%;
        height: 12em;
        background-image: url('https://www.drogariaminasbrasil.com.br/media/product/dc1/refrigerante-fanta-laranja-lata-350ml-6eb.jpg'); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: 7em;
        margin: 0 auto;
    }

    .banana{
        width: 60%;
        height: 12em;
        background-image: url('https://media.istockphoto.com/id/89892107/pt/foto/banana-guarnecida.jpg?s=612x612&w=0&k=20&c=LFatzBYbH_Yxaov8FpufU6TwPfeVNFGiwoM4suUmXMM='); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: 9em;
    }
    
    .cake{
        width: 60%;
        height: 12em;
        background-image: url('https://vivalivrealimentos.com.br/wp-content/uploads/2018/03/torta-confeitada-morango-com-chocolate.jpg'); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: 9em;
    }
    
    .milk{
        width: 60%;
        height: 12em;
        background-image: url('https://media.istockphoto.com/id/477812740/pt/foto/batido-de-leite-com-morango-com-morango-e-frutas-em-branco-pano-de-fundo.jpg?s=170667a&w=0&k=20&c=PPPeJhaRfWPc3DPtM1irPZKj3jk6yCV-0TEyxwGJVWQ='); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: 7em;
    }
    
    .mousse{
        width: 60%;
        height: 12em;
        background-image: url('https://receitasdepesos.com.br/wp-content/uploads/2022/11/16h-3.jpg'); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: 10em;
    }
    
    .ice{
        width: 60%;
        height: 12em;
        background-image: url('https://media.istockphoto.com/id/931702864/pt/foto/chocolate-ice-cream-in-a-glass-bowl.jpg?s=612x612&w=0&k=20&c=Yl3vTOWHI0GuSxqkcN8ESaC-INTMqXRgpGMamCtTs0c='); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: 9em;
    }
    
    .banoffee{
        width: 60%;
        height: 12em;
        background-image: url('https://media.istockphoto.com/id/1371122734/pt/foto/banana-coffee-pudding-with-caramelize-bananas-isolated-on-white-background-with-clipping-path.jpg?s=612x612&w=0&k=20&c=WL-hwL4AOoVI5M8U0VvWlWYdyUC23-2mo6Ie3wGFz_4='); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: 10em;
    }

    .btn0{
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .btn2{
        margin-bottom: 20px;
    }

    #total{
        margin-top: 30px;
    }
}

@media screen and (max-width: 815px) and (min-width: 624px){
    #navegar{
        width: 100%;
    }
    

    .caixaBurger{
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1{
        font-size: 1.5em;
        margin: 0px;
    }


    .cheeseburger{
        width: 80px;
        height: 9em;
        background-image: url('https://cache-backend-mcd.mcdonaldscupones.com/media/image/product$kRXV7tWV/200/200/original?country=br'); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: 5em;
    }
    
    .bacon{
        width: 80px;
        height: 12em;
        background-image: url('https://cache-backend-mcd.mcdonaldscupones.com/media/image/product$kzXjtUHf/200/200/original?country=br'); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: 6em;
    }
    
    .salad{
        width: 80px;
        height: 12em;
        background-image: url('https://cache-backend-mcd.mcdonaldscupones.com/media/image/product$kJX39JjK/200/200/original?country=br'); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: 7em;
    }
    
    .chicken{
        width: 80px;
        height: 12em;
        background-image: url('https://cache-backend-mcd.mcdonaldscupones.com/media/image/product$kKXGzDAK/200/200/original?country=br'); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: 5em;
    }
    
    .cheddar{
        width: 80px;
        height: 6em;
        background-image: url('https://cache-backend-mcd.mcdonaldscupones.com/media/image/product$kzXWKJ6A/200/200/original?country=br'); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: 6em;
    }
    
    .everything{
        width: 80px;
        height: 6em;
        background-image: url('https://cache-backend-mcd.mcdonaldscupones.com/media/image/product$kJXXZSDC/200/200/original?country=br'); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: 6em;
    }

    .strawberry{
        width: 80px;
        height: 6.2em;
        background-image: url('https://static.expressodelivery.com.br/imagens/produtos/106113/180/Expresso-Delivery_0d51e0b279d6344055315a11e8fae7c7.png'); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: 6.2em;
    }

    .orange{
        width: 80px;
        height: 6em;
        background-image: url('https://thumb-cdn.soluall.net/prod/shp_products/sp1280fw/c65526b6-458d-4cb5-9550-6d6a4f098846/da1e9ff7-945d-487d-b91d-688bc1cb8a45.jpg'); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: 5.5em;
    }
    
    .pineapple{
        width: 100px;
        height: 6em;
        background-image: url('https://atm-accounts.s3-sa-east-1.amazonaws.com/54/files/thumbs/svorpceozu7ekv8n6atp-large.jpeg'); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: 5.3em;
    }
    
    .coca{
        width: 80px;
        height: 6em;
        background-image: url('https://loja.cestasurpresa.com/wp-content/uploads/91421_2.jpg'); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: 5em;
    }
    
    .guarana{
        width: 80px;
        height: 6em;
        background-image: url('https://m.media-amazon.com/images/I/71eC76jOlpL._AC_UF1000,1000_QL80_.jpg'); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: 2.8em;
    }
    
    .fanta{
        width: 80px;
        height: 6em;
        background-image: url('https://www.drogariaminasbrasil.com.br/media/product/dc1/refrigerante-fanta-laranja-lata-350ml-6eb.jpg'); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: 5.5em;
      
    }

    .banana{
        width: 120px;
        height: 6em;
        background-image: url('https://media.istockphoto.com/id/89892107/pt/foto/banana-guarnecida.jpg?s=612x612&w=0&k=20&c=LFatzBYbH_Yxaov8FpufU6TwPfeVNFGiwoM4suUmXMM='); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: 6em;
    }
    
    .cake{
        width: 100px;
        height: 6em;
        background-image: url('https://vivalivrealimentos.com.br/wp-content/uploads/2018/03/torta-confeitada-morango-com-chocolate.jpg'); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: 6em;
    }
    
    .milk{
        width: 100px;
        height: 6em;
        background-image: url('https://media.istockphoto.com/id/477812740/pt/foto/batido-de-leite-com-morango-com-morango-e-frutas-em-branco-pano-de-fundo.jpg?s=170667a&w=0&k=20&c=PPPeJhaRfWPc3DPtM1irPZKj3jk6yCV-0TEyxwGJVWQ='); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: 4em;
    }
    
    .mousse{

        width: 100px;
        height: 6em;
        background-image: url('https://receitasdepesos.com.br/wp-content/uploads/2022/11/16h-3.jpg'); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: 7em;
        
    }
    
    .ice{
        width: 100px;
        height: 5em;
        background-image: url('https://media.istockphoto.com/id/931702864/pt/foto/chocolate-ice-cream-in-a-glass-bowl.jpg?s=612x612&w=0&k=20&c=Yl3vTOWHI0GuSxqkcN8ESaC-INTMqXRgpGMamCtTs0c='); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: 6em;
    }
    
    .banoffee{
        width: 100px;
        height: 5em;
        background-image: url('https://media.istockphoto.com/id/1371122734/pt/foto/banana-coffee-pudding-with-caramelize-bananas-isolated-on-white-background-with-clipping-path.jpg?s=612x612&w=0&k=20&c=WL-hwL4AOoVI5M8U0VvWlWYdyUC23-2mo6Ie3wGFz_4='); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: 7em;
    }
}